/*** Parameters ***/

@import "../../../node_modules/@fontsource/barlow-condensed/400.css";
@import "../../../node_modules/@fontsource/barlow/400.css";
@import "../../../node_modules/@fontsource/bellefair/400.css";

// Colors
$color-black: #0B0D17;
$color-gray: #D0D6F9;
$color-white: #FFF;  

// Media queries
$desktop: 800px;
$tablet: 600px;
$mobile: 599px;

// Font Family
$barlow: "barlow", serif;
$barlow-condensed: "barlow condensed", serif;
$bellefair: "bellefair", serif;