aside {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27.4rem;
    height: 27.4rem;
    background-color: $color-white;
    border-radius: 50%;
    float:  right;
    margin-bottom: 16.45rem;
    margin-right: 16.45rem;
    a {
        font: 400 32px/37px $bellefair;
        color: $color-black;
        text-transform: uppercase;
    }
}