body {
    display: grid;
    grid-template: 
                "header header"
                "main aside";
    align-items: end;
    align-content: space-between;
    justify-content: space-between;

    &.Destination{
        grid-template: 
        "header header"
        "aside main";
    }

    header {
        grid-area: header;
    }
    main {
        grid-area: main;
    }
    aside {
        grid-area: aside;
    }
}