/*** Parameters ***/
@import "../../../node_modules/@fontsource/barlow-condensed/400.css";
@import "../../../node_modules/@fontsource/barlow/400.css";
@import "../../../node_modules/@fontsource/bellefair/400.css";
html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
  font: 400 150px/172px "bellefair", serif;
  color: #FFF;
}

h2 {
  font: 400 100px/115px "bellefair", serif;
  color: #FFF;
}

h3 {
  font: 400 56px/64px "bellefair", serif;
  color: #FFF;
}

h4 {
  font: 400 32px/37px "bellefair", serif;
  color: #FFF;
}

h5 {
  font: 400 28px/34px "barlow condensed", serif;
  letter-spacing: 4.7px;
  color: #D0D6F9;
}

body {
  font: 400 18px/32px "barlow", serif;
  color: #FFF;
}

.subheading-1 {
  font: 400 28px/32px "bellefair", serif;
  color: #FFF;
}

.subheading-2 {
  font: 400 14px/17px "barlow condensed", serif;
  letter-spacing: 2.4px;
  color: #FFF;
}

nav, .nav {
  font: 400 16px/19px "barlow condensed", serif;
  letter-spacing: 2.7px;
  color: #FFF;
}

@media only screen and (max-width: 599px) {
  body {
    height: 100vh;
    background: center/cover no-repeat url("../images/home/background-home-mobile.jpg");
  }
  body.Destination {
    background: center/cover no-repeat url("../images/destination/background-destination-mobile.jpg");
  }
  body.Technology {
    background: center/cover no-repeat url("../images/technology/background-technology-mobile.jpg");
  }
  body.Crew {
    background: center/cover no-repeat url("../images/crew/background-crew-mobile.jpg");
  }
}
@media only screen and (min-width: 600px) {
  body {
    height: 100vh;
    background: center/cover no-repeat url("../images/home/background-home-tablet.jpg");
  }
  body.Destination {
    background: center/cover no-repeat url("../images/destination/background-destination-tablet.jpg");
  }
  body.Technology {
    background: center/cover no-repeat url("../images/technology/background-technology-tablet.jpg");
  }
  body.Crew {
    background: center/cover no-repeat url("../images/crew/background-crew-tablet.jpg");
  }
}
@media only screen and (min-width: 800px) {
  body {
    height: 100vh;
    background: center/cover no-repeat url("../images/home/background-home-desktop.jpg");
  }
  body.Destination {
    background: center/cover no-repeat url("../images/destination/background-destination-desktop.jpg");
  }
  body.Technology {
    background: center/cover no-repeat url("../images/technology/background-technology-desktop.jpg");
  }
  body.Crew {
    background: center/cover no-repeat url("../images/crew/background-crew-desktop.jpg");
  }
}
li {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: #FFF;
  list-style-type: none;
  text-transform: uppercase;
  height: 100%;
}
li:hover {
  border-top: 3px transparent solid;
  border-bottom: 3px rgba(255, 255, 255, 0.5) solid;
}
li.Active {
  border-top: 3px transparent solid;
  border-bottom: 3px #FFF solid;
}
li a {
  color: #FFF;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 83rem;
  height: 9.6rem;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(15px);
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 54.2rem;
  height: 9.6rem;
}

header {
  display: flex;
  align-items: center;
  width: 95%;
  height: 9.6rem;
  margin-top: 4rem;
  margin-left: auto;
}
header hr {
  width: 40%;
  margin-right: -5rem;
  z-index: 2;
  border-color: rgba(255, 255, 255, 0.25);
}
header svg {
  margin: 2.4rem 0rem;
  margin-top: 3rem;
}

main {
  display: inline-flex;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.4rem;
  width: 44.5rem;
  height: 38.2rem;
  margin: 16.5rem;
}
main h1 {
  text-transform: uppercase;
}
main h5, main p, main h1 {
  margin: 0;
}

aside {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16.5rem;
}
aside.home {
  background-color: #FFF;
  border-radius: 50%;
  width: 27.4rem;
  height: 27.4rem;
}
aside a {
  font: 400 32px/37px "bellefair", serif;
  color: #0B0D17;
  text-transform: uppercase;
}

body {
  display: grid;
  grid-template: "header header" "main aside";
  align-items: end;
  align-content: space-between;
  justify-content: space-between;
}
body.Destination {
  grid-template: "header header" "aside main";
}
body header {
  grid-area: header;
}
body main {
  grid-area: main;
}
body aside {
  grid-area: aside;
}

body.Destination {
  width: 100%;
  align-items: center;
  align-content: space-between;
  justify-items: center;
}
body.Destination main nav {
  background-color: transparent;
}
body.Destination aside {
  margin: 0;
  height: 100%;
  padding-left: 16.6rem;
  padding-top: 7.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
body.Destination aside h5 {
  display: inline-flex;
  gap: 2.8rem;
  padding: 0px;
  color: #FFF;
  text-transform: uppercase;
}
body.Destination aside h5 span {
  opacity: 0.25;
  font-weight: 700;
}
body.Destination aside picture {
  padding-left: 6.4rem;
  padding-top: 5rem;
}

/*# sourceMappingURL=style.css.map */
