body.Destination {
    width: 100%;
    main {
        nav {
            background-color: transparent;
        }
    }

    aside {
        margin: 0;
        height: 100%;
        padding-left: 16.6rem;
        padding-top: 7.6rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        h5 {
            display: inline-flex;
            gap: 2.8rem;
            padding: 0px;
            color: $color-white;
            span {
                opacity: 0.25;
                font-weight: 700;
            }
            text-transform: uppercase;
        }
        picture {
            padding-left: 6.4rem;
            padding-top: 5rem;

        }
    }
}